<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <title></title>
    <link rel="stylesheet" href="/static/main.css">
</head>



<body id="myId">
    <section class="register-account">
        <div class="signform">
            <div class="left"><a href="/login" style="float:right;margin-right:35px;font-size: 0.9em;"
                    class="bts-a">Have an
                    account? Login!</a>
                <div class="bts">

                </div>
            </div>
            <div class="right">
                <div class="headit">
                    <h4>Login To Your Account</h4>
                </div>
                <div class="form">
                    <!-- <form class="login-form" id="login-form" mothod="POST" > -->
                    <form method="POST" action="/signup" class="login-form" id="login-form">
                        <input type="text" placeholder="User Name" name="username" />
                        <input type="text" placeholder="Email" name="email_id" />
                        <input type="password" placeholder="Password" name="password" />
                        <input class="subbt" type="submit" value="Sign In" style="border:none;" />
                    </form>
                    <!-- <input type="checkbox" id="remember" name="remember"><span style="color:#b6b6b6;font-size: 0.9em;">
                        Remember Me</span><a href="#">Forgot your
                        password?</a> -->
                </div>
            </div>
        </div>
    </section>
</body>

</html>